{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "AllowedMethods": "*",
  "Environment":{
    "PAYOS_CLIENT_ID": "9e9880d3-81c9-4f02-8b14-29b1f734bf93",
    "PAYOS_API_KEY": "545302fc-a633-4233-9d1d-9d04fa513d6b",
    "PAYOS_CHECKSUM_KEY": "c3f389fe5c468b92bc83749aaa174baf64b9fe8044c06390defb205fa0821a9f"
  }
}
